.mainpage-body{
    width:100%;
    align-items:center;
    justify-content:center;
    display:flex;
   flex-direction:column;
}
.title{
    color:white;
    font-size:50px;
    margin-top:-260px;
    margin-left:80px;
}
.whitelogo {
    position: absolute;
    margin-left:-650px;
    top: 382px;
}
.developer {
    color: white;
    width: 135px;
    position: absolute;
    margin-left:-460px;
    top: 370px;
    font-weight: bolder;
    font-size: 18px;
}
.logo {
    height: 45px;
    position: absolute;
    margin-left:-1000px;
    top: 380px;
}
.navbar{
    border-radius:0px;
}
.title1 {
    color: white;
    font-size: 20px;
    margin-left: 80px;
}
.mainpage-body li{
    font-size:16px;
}
.root {
    display: flex;
    flex-direction: column;
}
.root .navbar{
    min-height:60px;
}
.root .navbar-brand{
    line-height:25px;
    font-size:18px;
}
.root .container{
    line-height:20px;
}
.root .navbar-nav li a{
    padding-top:17px;
    font-size:18px;
}

.column{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.row{
    display:flex;
    justify-content:center;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
    padding-top: 15px;
    width: 100%;
    min-width: 1140px;
}

.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    margin-bottom: 15px;
}

    .footerRow a {
        font-size: 12px;
        font-family: 微软雅黑;
        color: rgb(80,80,80);
        margin-left: 10px;
        margin-right: 10px;
    }